### WordPress  ###
**/*.DS_Store
db.php
debug.log
/vendor/
/data/
/upgrade/
/upgrade-temp-backup/
/uploads/
/plugins/.DS_Store
/plugins/graphic_data_plugin/.DS_Store
/plugins/debug-bar/
plugins/maintenance/
/plugins/query-monitor/
/plugins/svg-support/
plugins/contact-form-7/
plugins/developry-google-fonts/
themes/twentytwentyfive/
themes/twentytwentyfour/
themes/twentytwentythree/
themes/twentytwentytwo/
themes/developry-lite/
debug.log
/plugins/.DS_Store
/plugins/graphic_data_plugin/.DS_Store
/plugins/graphic_data_plugin/admin/.DS_Store
/plugins/debug-bar-actions-and-filters-addon
data/

# Composer
vendor/
composer.lock  # Some projects track this, some don't - your choice

# PHPStan cache and temporary files
.phpstan.cache/
phpstan-report.txt